Repository chasleslr/jig: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, vet, lint, mod-tidy

lefthook.yml:

# Lefthook configuration for jig
# Install: brew install lefthook && lefthook install

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.go"
      run: go fmt {staged_files}
      stage_fixed: true

    vet:
      glob: "*.go"
      run: go vet ./...

    lint:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1

    mod-tidy:
      glob: "{go.mod,go.sum}"
      run: go mod tidy && git diff --exit-code go.mod go.sum

pre-push:
  commands:
    test:
      run: go test ./...

fix: remove duplicate wrapText function in issue_view.go
  internal/ui/issue_view.go
Due: fmt, vet, lint

chore: add lint:fix and setup tasks to Taskfile
  Taskfile.yml
Due: none

refactor: remove multi-phase support from jig
  README.md
  internal/cli/implement.go
  internal/cli/plan.go
  internal/cli/status.go
  internal/plan/parser.go
  internal/plan/phase.go
  internal/plan/plan.go
  internal/plan/plan_test.go
  internal/prompt/prompt.go
  internal/prompt/templates/implement.md
  internal/prompt/templates/plan.md
  internal/runner/claude.go
  internal/runner/runner.go
  internal/state/worktrees.go
  internal/tracker/linear/sync.go
  internal/tracker/tracker.go
  internal/ui/plan_table.go
  internal/ui/plan_view.go
  internal/ui/plan_view_test.go
  prompts/implement.md
  prompts/plan.md
Due: fmt, vet, lint

refactor: remove multi-phase support from jig (#9)
  README.md
  internal/cli/implement.go
  internal/cli/plan.go
  internal/cli/status.go
  internal/plan/parser.go
  internal/plan/phase.go
  internal/plan/plan.go
  internal/plan/plan_test.go
  internal/prompt/prompt.go
  internal/prompt/templates/implement.md
  internal/prompt/templates/plan.md
  internal/runner/claude.go
  internal/runner/runner.go
  internal/state/worktrees.go
  internal/tracker/linear/sync.go
  internal/tracker/tracker.go
  internal/ui/plan_table.go
  internal/ui/plan_view.go
  internal/ui/plan_view_test.go
  prompts/implement.md
  prompts/plan.md
Due: fmt, vet, lint

chore: tidy go.mod
  go.mod
  go.sum
Due: mod-tidy

fixup
  .github/workflows/ci.yml
Due: none

Set up CI checks and pre-commit hooks (#12)
  .github/workflows/ci.yml
  .golangci.yml
  Taskfile.yml
  go.mod
  go.sum
  lefthook.yml
Due: mod-tidy

fix: properly invoke jig hook exit-plan-mode with Claude Code
  internal/cli/hook.go
  internal/cli/hook_test.go
Due: fmt, vet, lint

feat: add PlanStatusManager for atomic status updates
  go.mod
  go.sum
  internal/cli/implement.go
  internal/cli/merge.go
  internal/plan/plan.go
  internal/state/plan_status.go
  internal/state/plan_status_test.go
Due: fmt, vet, lint, mod-tidy

fix: properly invoke jig hook exit-plan-mode with Claude Code (#13)
  internal/cli/hook.go
  internal/cli/hook_test.go
Due: fmt, vet, lint

feat: add PlanStatusManager for atomic status updates (#14)
  internal/cli/implement.go
  internal/cli/merge.go
  internal/plan/plan.go
  internal/state/plan_status.go
  internal/state/plan_status_test.go
Due: fmt, vet, lint

ci: add codecov.yml with 90% patch coverage requirement
  codecov.yml
Due: none

fix: handle worktree cleanup before branch deletion in merge
  internal/cli/merge.go
Due: fmt, vet, lint

fix: handle worktree cleanup before branch deletion in merge (#15)
  internal/cli/merge.go
Due: fmt, vet, lint

ci: add codecov.yml with 90% patch coverage requirement (#16)
  codecov.yml
Due: none

feat: improve jig plan hook exit experience
  internal/cli/hook.go
  internal/cli/hook_test.go
  internal/cli/init.go
  internal/cli/init_test.go
Due: fmt, vet, lint

docs: remove phase references from skill documentation
  .claude/commands/jig/implement.md
  .claude/commands/jig/plan.md
  internal/prompt/templates/lead_review.md
  internal/prompt/templates/security_review.md
  skills/jig-save-plan.md
Due: none

feat(state): add SyncPRForIssue to fetch PR info from GitHub
  internal/state/cache.go
  internal/state/cache_test.go
Due: fmt, vet, lint

feat: improve jig plan hook exit experience (#17)
  internal/cli/hook.go
  internal/cli/hook_test.go
  internal/cli/init.go
  internal/cli/init_test.go
Due: fmt, vet, lint

feat(merge): add issue-based PR lookup for jig merge
  internal/cli/merge.go
Due: fmt, vet, lint

feat: add jig pr command and /jig:pr skill
  .claude/commands/jig/implement.md
  .claude/commands/jig/pr.md
  internal/cli/pr.go
  internal/cli/root.go
Due: fmt, vet, lint

feat: add jig sync command for explicit PR sync
  internal/cli/root.go
  internal/cli/sync.go
Due: fmt, vet, lint

test: improve coverage for plan status tracking
  internal/plan/plan_test.go
  internal/state/plan_status_test.go
Due: fmt, vet, lint

docs: remove phase references from skill documentation (#18)
  .claude/commands/jig/implement.md
  .claude/commands/jig/plan.md
  internal/prompt/templates/lead_review.md
  internal/prompt/templates/security_review.md
  skills/jig-save-plan.md
Due: none

test: add comprehensive tests for pr/sync commands and cache
  internal/cli/pr_test.go
  internal/cli/sync_test.go
  internal/state/cache.go
  internal/state/cache_test.go
Due: fmt, vet, lint

test: improve coverage for plan status tracking (#19)
  internal/plan/plan_test.go
  internal/state/plan_status_test.go
Due: fmt, vet, lint

refactor: add git.Client interface for testable dependency injection
  internal/cli/pr.go
  internal/cli/pr_test.go
  internal/cli/sync.go
  internal/cli/sync_test.go
  internal/git/client.go
  internal/git/mock/mock.go
  internal/state/cache.go
Due: fmt, vet, lint

feat: add glamour markdown rendering to view issue context
  internal/ui/issue_view.go
  internal/ui/issue_view_test.go
Due: fmt, vet, lint

fix: use correct hookSpecificOutput wrapper format for Claude Code hooks
  internal/cli/hook.go
  internal/cli/hook_test.go
Due: fmt, vet, lint

test: add coverage for git.Client, mock.Client, and cache patches
  internal/git/client_test.go
  internal/git/mock/mock_test.go
  internal/state/cache_test.go
Due: fmt, vet, lint

fix: add viewport scrolling to issue context view
  internal/ui/plan_prompt.go
Due: fmt, vet, lint

feat: add spinner when fetching issue from Linear
  internal/cli/plan.go
Due: fmt, vet, lint

fix: use correct hookSpecificOutput wrapper format for Claude Code hooks (#23)
  internal/cli/hook.go
  internal/cli/hook_test.go
Due: fmt, vet, lint

fix: improve loading UX for issue fetch and context rendering
  internal/cli/plan.go
  internal/ui/plan_prompt.go
Due: fmt, vet, lint

test: improve patch coverage for pr.go and sync.go
  internal/cli/pr_test.go
  internal/cli/sync_test.go
Due: fmt, vet, lint

debug: simplify viewContext to not use viewport
  internal/ui/plan_prompt.go
Due: fmt, vet, lint

ci: exclude client.go from coverage reporting
  codecov.yml
Due: none

debug: add timing output to stderr
  internal/ui/plan_prompt.go
Due: fmt, vet, lint

fix: exclude review states from StatusInProgress matching
  internal/tracker/linear/issue.go
  internal/tracker/linear/issue_test.go
Due: fmt, vet, lint

debug: add more granular timing
  internal/ui/issue_view.go
  internal/ui/plan_prompt.go
Due: fmt, vet, lint
